.Gram {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.Sign {
  text-align: center;

  &-title {
    width: 100%;
    height: 20vh;
    font-weight: bold;
    text-indent: -9999px;
    background: {
      image: url("./assets/img/edgram-logo.png");
      size: contain;
      repeat: no-repeat;
      position: center;
    }
  }

  &-button {
    padding: 0.5em 1em;
    border: 1px solid #fff;
    border-radius: 0.25em;
    &:hover {
      background: rgba(0, 0, 0, 0.4);
    }

    & > * {
      display: inline-block;
      vertical-align: middle;
    }
  }
}

.Header {
  top: 0;

  &-logo {
    width: 100%;
    height: 2rem;
    font-weight: bold;
    text-indent: -9999px;
    background: {
      image: url("./assets/img/edgram-logo.png");
      size: contain;
      repeat: no-repeat;
      position: center;
    }
  }
}

.Content {
  padding: 4rem 2rem;

  &-section {
    width: 100%;
    min-height: 100vh;
  }
}

.Footer {
  bottom: 0;

  &-menu {
    height: 2rem;
    display: flex;
    justify-content: space-around;
    align-content: center;

    & > button:hover {
      // color: rgba(0,0,0, .1);
      opacity: 0.4;
    }
  }
}

.Uploader {
  & input[type="file"] { display: none; }

  & label {
    font-size: 2.5rem;
    cursor: pointer;

    & > i {
      text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.4);
    }
  }
}
