$font-main: 'Roboto', sans-serif;
$font-secondary: 'Raleway', sans-serif;
$font-size: 16px;
$font-color: #FFF;
$first-color: #2279D7;
$second-color: #25C9FF;
$third-color: #D24F56;
$fourth-color: #FA8086;
$success-color: green;
$error-color: #E8080B;
$alert-color: #E8E80B;

html {
  font: {
    family: $font-main;
    size: $font-size;
  }
  color: $font-color;
  background: linear-gradient(-45deg, $second-color, $first-color, $second-color) no-repeat fixed;
}

a {
  display: block;
  font-size: 4vw;
  color: $font-color;
  transition: all .3s ease-out;

  &:hover { color: $second-color; }
}

button {
  border: 0;
  font: {
    size: 5vw;
    family: $font-secondary;
    weight: 700;
  }
  cursor: pointer;
  color: $font-color;
  background: transparent;
  transition: all .3s ease-out;

  @media screen and (min-width: 64em) {font-size: 2rem;}

  &:focus {
    border: 0;
    outline: 0;
  }

  &:hover {
    // transform: rotateY(180deg);

  }

  & > * { display: block; }
}

img, video {
  margin: auto;
  display: block;
  max-width: 100%;
  height: auto;
}
