$t: .5s;

@keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.u-show {
  display: block;
  transition: opacity $t;
}

.u-hide {
  display: none;
  opacity: 0;
}

.u-fadein { animation: fadein $t; }

.u-fixed {
  position: fixed;
  z-index: 999;
  left: 0;
  padding: .5rem;
  height: 3rem;
  width: 100%;
  background: linear-gradient(
    -45deg,
    $fourth-color,
    $third-color,
    $fourth-color
  );
}

.u-jc-flex-start { justify-content: flex-start;}
